.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
}

.left,
.right {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .container {
    flex-direction: row;
    justify-content: center;
  }

  .left {
    width: 50%;
    padding: 20px;
  }

  .right {
    width: 50%;
    padding: 20px;
  }
}

@media (min-width: 1024px) {

  .left,
  .right {
    max-width: 600px;
  }
}

@media (min-width: 1400px) {
  .container {
    padding: 20px 0;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .container::-webkit-scrollbar {
    display: none;
  }
}