.rightcontainer {
    width:30%;
    height:100%;
    display: flex;
    border:1px solid black;
}

.margin {
    width:20%;
    height:100%;
    /* border:1px solid black; */
}

.full {
    width:100%;
    height:100%;
    border:1px solid black;
}

/*--------------------------------------------------*/

.one {
    width:100%;
    height:85%;
    /* border:1px solid black; */
}

.two {
    width:100%;
    height:15%;
    /* border:1px solid black; */
}

.plusbutton {
    width:100%;
    height:100%;
    border-radius: 30px;
    border:2px solid #F0D827;
    background-color: white;
    font-size: 16px;
    color:#8C8C8C;

    display: flex;              /* 내부 요소 가로 정렬 */
    align-items: center;        /* 세로 중앙 정렬 */
    justify-content: center;    /* 가로 중앙 정렬 */
    gap: 10px;
}