.container {
  display: flex;
  gap: 30px;
}

.babymomcheckbox {
  width: 590px;
  height: 670px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 4px 4px 8px -2px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid transparent;
}

.hoverBorder {
  border: 2px solid #F0D827;
}

.bok:hover {
  background-color: #F0D827;
}

.cute {
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.cute h1 {
  font-size: 32px;
  font-weight: bold;
  color: #696B70;
}

.cute h1.hoverTitle {
  color: #F0D827;
}

.cute p {
  font-size: 18px;
  font-weight: bold;
  color: #8C8C8C;
}

.babyImage {
  width: 200px;
  height: auto;
  margin-top: 50px;
}

.bok {
  margin-top: 50px;
  width: 90%;
  height: 48px;
  background-color: #8C8C8C;
  font-size: 18px;
  color: white;
  font-weight: bold;
  border-radius: 20px;
  border: none;
}

.babycheckbox {
  width: 590px;
  height: 670px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 4px 4px 8px -2px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
}

.cutetwo {
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.cutetwo h1 {
  font-size: 32px;
  font-weight: bold;
  color: #696B70;
}

.cutetwo p {
  font-size: 18px;
  font-weight: bold;
  color: #8C8C8C;
}

.cutetwo h1.hoverTitleTwo {
  color: #F0D827;
}

.childrenImage {
  width: 170px;
  height: auto;
  margin-top: 50px;
}

.bokk {
  margin-top: 50px;
  width: 90%;
  height: 48px;
  background-color: #8C8C8C;
  font-size: 18px;
  color: white;
  font-weight: bold;
  border-radius: 20px;
  border: none;
}

.bokk:hover {
  background-color: #F0D827;
}