.container {
  width: 100%;
  height: 100%;
  border-radius: 22px;
  background: var(--color-sud-color1);
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: var(--font-family);

  overflow: hidden;
}

.dateBox {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--color-primary);
}

.dateInput {
  height: 46px;
  background: white;
  border-radius: 14px;
  border: 1px solid var(--color-font-back);
  padding: 0 16px;
  font-size: 15px;
  color: var(--color-font-color1);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.summaryContainer {
  height: 100%;
  width: 100%;
}

.summaryGrid {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 14px;
}

.summaryCard {
  padding: 8px;
  border-radius: 18px;
  background: white;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.08);
  display: flex;
  align-items: center;
  gap: 12px;
  width: 100%;
  box-sizing: border-box;
}

.summaryTitle {
  font-size: 14px;
  color: var(--color-font-color1);
}

.summaryValue {
  margin-top: 6px;
  font-size: 16px;
  font-weight: bold;
  color: var(--color-font-color1);
}

.dateBox button {
  width: 100%;
  height: 48px;
  font-size: 16px;
  background-color: var(--color-primary);
  color: var(--color-white);
  border-radius: 30px;
  border: none;
}

.dateBox button:hover {
  background-color: var(--color-hover);
  font-weight: bold;
  transform: scale(0.98);
}