.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  font-family: var(--font-family);
}


.MemberHeaderFixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  z-index: 9999;
}

.MemberHeaderNormal {
  position: relative;
  width: 100%;
  z-index: 9999;
}

.layoutMain,
.layoutMainYellow {
  flex: 1;
  height: 100%;
  padding: 20px 118px;
  overflow-y: auto;
  box-sizing: border-box;
}

.layoutMain {
  height: calc(100vh - 98px);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: var(--color-white);
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.layoutMain::-webkit-scrollbar {
  display: none;
}

.layoutMainYellow {
  height: calc(100vh - 98px);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: var(--color-sud-color1) !important;

  scrollbar-width: none;
  -ms-overflow-style: none;
}

.layoutMainYellow::-webkit-scrollbar {
  display: none;
}

@media (max-width: 1400px) {

  .layoutMain,
  .layoutMainYellow {
    padding: 0 20px;
  }
}

@media (max-width: 430px) {

  .layoutMain,
  .layoutMainYellow {
    padding: 0 10px;
  }
}