
.babys {
  display: flex;
  margin-top: 10px;
}
.oneImage,
.twoImage,
.threeImage,
.fourImage {
  width: 70%;
  height: 100%;
}

.babymomclick {
  width: 70%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.clickplus {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
  max-height: 350px;
  overflow-y: auto;
}

.babymomclick h1 {
  font-size: 32px;
  font-weight: bold;
  color: #696b70;
}

.babymomclick p {
  font-size: 18px;
  color: #8c8c8c;
  font-weight: bold;
}

.buttons {
  width: 100%;
  display: flex;
  gap: 8%;
  margin-top: 10px;
}

.why,
.man,
.girl {
  width: 115px;
  height: 48px;
  border-radius: 20px;
  font-size: 18px;
}

.why {
  color: #8c8c8c;
  border: 1px solid #8c8c8c;
  background-color: white;
}

.man,
.girl {
  color: #8c8c8c;
  border: 1px solid #8c8c8c;
  background-color: white;
}

.activeGender {
  background-color: #adb9e3;
  color: white;
  border: none;
}

.babyparty {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 16px;
}

.babyparty label {
  font-size: 18px;
  margin-left: 10px;
  font-weight: bold;
  color: #8c8c8c;
}

.babyparty input {
  height: 48px;
  border-radius: 20px;
  border: 1px solid #8c8c8c;
  padding: 0 10px;
  font-size: 16px;
  color: #8c8c8c;
  outline: none;
}

.babyname {
  margin-top: 16px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.babyname label {
  font-size: 18px;
  margin-left: 10px;
  font-weight: bold;
  color: #8c8c8c;
}

.babyname input {
  height: 48px;
  border-radius: 20px;
  border: 1px solid #8c8c8c;
  padding: 0 10px;
  font-size: 16px;
  color: #8c8c8c;
  outline: none;
}

.babyname input::placeholder {
  color: #8c8c8c;
}

.babyplus {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin-top: 5px;
}

.babyplus p {
  color: #8c8c8c;
  font-size: 16px;
  font-weight: 400;
}

.bbtt {
  width: 100%;
  margin-top: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
}

.deb,
.cb {
  width: 188px;
  height: 53px;
  border-radius: 20px;
}

.deb {
  background-color: #b9b9b9;
  border: none;
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.cb {
  background-color: #b9b9b9;
  border: none;
  font-size: 18px;
  font-weight: bold;
  color: white;
}

.deb:hover,
.cb:hover {
  background-color: #f0d827;
}

.buttonss {
  width: 100%;
  display: flex;
  gap: 8%;
  margin-top: 10px;
}

.mantwo,
.girltwo {
  width: 188px;
  height: 48px;
  border-radius: 20px;
}

.mantwo {
  background-color: white;
  border: 1px solid #8c8c8c;
  font-size: 18px;
  font-weight: bold;
  color: #8c8c8c;
}

.girltwo {
  border: 1px solid #8c8c8c;
  background-color: white;
  font-size: 18px;
  color: #8c8c8c;
  font-weight: bold;
}

.activeGender {
  background-color: #adb9e3; 
  color: white;
  border: none; 
}

.invalid {
  border: 1px solid #ff7a7a !important;
  background-color: #fff;
  padding: 8px 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.06);

  transition: all 0.2s ease;
}

.invalid:focus,
.invalid:focus-within {
  outline: none;

  border-color: #ff7a7a;
  box-shadow: 0 0 0 4px rgba(255, 122, 122, 0.35);
}
