
/*--------------------------------------------------------------------------------------------------*/
/*임산모 선택했을때*/

/*아가4명중 하나*/

.babys {
    display: flex;
    margin-top: 10px;
}
.oneImage, .twoImage, .threeImage, .fourImage {
    width:70%;
}
/*제목*/
.babymomclick {
    width:70%;
    height:auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:10px;
    /* border:1px solid black; */
}

.clickplus {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
    max-height: 350px; /* 스크롤 높이 */
    overflow-y: auto;
    /* padding-right: 10px; */
    /* border:1px solid black; */
}

.babymomclick h1 {
    font-size: 32px;
    font-weight: bold;
    color: #696B70;
}

.babymomclick p {
    font-size: 18px;
    color:#8C8C8C;
    font-weight: bold;
}

/*버튼들*/
.buttons {
    width:100%;
    /* border:1px solid black; */
    display: flex;
    gap:8%;
    margin-top: 10px;
}

.why, .man, .girl {
    width:115px;
    height:48px;
    border-radius: 20px;
    font-size: 18px;
}

.why {
    /* background-color: #ADB9E3; */
    color:#8C8C8C;
    border:1px solid #8C8C8C;
    /* font-weight: bold; */
    background-color: white;
}

.man, .girl {
    color:#8C8C8C;
    border:1px solid #8C8C8C;
    background-color: white;
}

/* 활성화 버튼 스타일 */
.activeGender {
    background-color: #ADB9E3;
    color: white;
    border: none;
}
/*출생일*/
.babyparty {
    width:100%;
    display: flex;
    flex-direction: column;
    gap:5px;
    margin-top: 16px;
    /* border:1px solid black; */
}

.babyparty label {
    font-size: 18px;
    margin-left: 10px;
    font-weight: bold;
    color:#8C8C8C;
}

.babyparty input {
    height:48px;
    border-radius: 20px;
    border:1px solid #8C8C8C;
    padding: 0 10px;
    font-size: 16px;
    color:#8C8C8C;
    outline: none;
}

/*애기이름*/
.babyname {
    margin-top: 16px;
    width:100%;
    display: flex;
    flex-direction: column;
    gap:5px;
    /* border:1px solid black; */
}

.babyname label {
    font-size: 18px;
    margin-left: 10px;
    font-weight: bold;
    color:#8C8C8C;
}

.babyname input {
    height:48px;
    border-radius: 20px;
    border:1px solid #8C8C8C;
    padding: 0 10px;
    font-size: 16px;
    color:#8C8C8C;
    outline: none;
}

.babyname input::placeholder {
    color:#8C8C8C;
}
/* focus 시 border 색 변경 */
/* .babyparty input:focus,
.babyname input:focus {
    border: 2px solid #F0D827; 원하는 색상
} */

/*쌍둥이 추가 부분*/

.babyplus {
    width: 100%;
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    gap:10px;
    margin-top: 5px;
    /* border:1px solid black; */
}

.babyplus p {
    color:#8C8C8C;
    font-size: 16px;
    font-weight: 400;
}


/*버튼 위치*/
.bbtt {
    width:100%;
    margin-top: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10%;
    /* border:1px solid black; */
}

.deb, .cb {
    width:188px;
    height:53px;
    border-radius: 20px;
}

.deb {
    background-color:#B9B9B9;
    border: none;
    color:white;
    font-size: 18px;
    font-weight: bold;
}

.cb {
    background-color:#B9B9B9;
    border:none;
    font-size: 18px;
    font-weight: bold;
    color:white;
}

.deb:hover, .cb:hover {
    background-color: #F0D827;
}


/*------------------------------------------*/
/*육아쪽 */

.buttonss {
    width:100%;
    /* border:1px solid black; */
    display: flex;
    gap:8%;
    margin-top: 10px;
}

.mantwo, .girltwo{
    width:188px;
    height:48px;
    border-radius: 20px;
}

.mantwo {
    background-color: white;
    border:1px solid #8C8C8C;
    font-size: 18px;
    font-weight: bold;
    color:#8C8C8C;
}

.girltwo {
    border:1px solid #8C8C8C;
    /* background-color: #ADB9E3; */
    background-color: white;
    font-size: 18px;
    color:#8C8C8C;
    font-weight: bold;
}

/* 클릭 후 색상 변경 */
.activeGender {
  background-color: #ADB9E3; /* 원하는 색상 */
  color: white;
  border: none; /* 필요시 */
}

