.contentBox {
  flex: 1;
  height: 100%;
  border: 1px solid var(--color-primary);
  border-radius: 22px;
  box-sizing: border-box;
  min-width: 0;
  display: flex;
  flex-direction: column;
  padding: 20px;
  font-family: var(--font-family);
}

.contentHeader {
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
}

.chartArea {
  flex: 1;
  width: 100%;
}

@media (max-width: 1200px) and (min-width: 769px) {
  .contentBox {
    height: 500px;
  }
}

@media (max-width: 768px) {
  .contentBox {
    height: 500px;
  }
}

@media (max-width: 480px) {
  .contentBox {
    height: 500px;
  }
}