.container {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 20px;
}

.left {
  flex: 1;
}

.right {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
}

.right>* {
  flex: 1;
  min-height: 0;
}


@media (max-width: 374px) {
  .container {
    flex-direction: column;
    gap: 8px;
    max-height: 100vh;
    padding: 5px;

    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .container::-webkit-scrollbar {
    display: none;
  }

  .left,
  .right {
    flex: unset;
  }

  .right {
    gap: 20px;
  }
}

@media (max-width: 375px) {
  .container {
    flex-direction: column;
    gap: 8px;
    max-height: 100vh;
    padding: 20px 0;
  }

  .left,
  .right {
    flex: unset;
  }

  .right {
    gap: 40px;
  }
}

@media (min-width: 376px) and (max-width: 480px) {
  .container {
    flex-direction: column;
    gap: 8px;
    max-height: 100vh;
    padding: 20px 0;
  }

  .left,
  .right {
    flex: unset;
  }

  .right {
    gap: 20px;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .container {
    flex-direction: column;
    gap: 10px;
    max-height: 100vh;
    padding: 20px 0;
  }

  .left,
  .right {
    flex: unset;
  }

  .right {
    gap: 50px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .container {
    flex-direction: row;
    gap: 12px;
    padding: 20px 0;
  }

  .left {
    flex: 1;
    min-width: 180px;
  }

  .right {
    flex: 2;
    gap: 12px;
    min-width: 220px;
  }
}

@media (min-width: 1024px) and (max-width: 1200px) {
  .container {
    flex-direction: row;
    gap: 16px;
    padding: 20px 0;
  }

  .left {
    flex: 1;
    min-width: 200px;
  }

  .right {
    flex: 2;
    gap: 16px;
    min-width: 250px;
  }
}

@media (min-width: 1201px) {
  .container {
    flex-direction: row;
    gap: 24px;
  }

  .left {
    flex: 1;
  }

  .right {
    flex: 2;
    gap: 24px;
  }
}

@media (min-width: 1400px) {
  .container {
    padding: 20px 0;
  }
}