.leftcontainer {
    width:50%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border:1px solid black; */
}

.babyImage {
    width:95%;
    height:95%;
    /* border:1px solid black; */
}