.leftcontainer {
    width:50%;
    height:100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border:1px solid black; */
}

/* 아래 배경(back) */
.one {
  width: 100%;
  height: 100%;
  /* border:1px solid black; */
  position: relative;
  z-index: 1;
}

/* 위에 올릴 이미지(jionebaby) */
.two {
  width: 60%;
  height:65%;
  /* border:1px solid black; */
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 18%;      /* 필요에 따라 조절 */
  left: 20%;     /* 필요에 따라 조절 */
  z-index: 10; /* one보다 크게 */
}