/* 메인 컨테이너 */
.main {
  width: 100%;
  height: 100%;
  position: relative;
  font-size: 16px;
  font-family: Inter, sans-serif;
  color: var(--color-font-color1);
  overflow-y: auto;

  /* 스크롤바 */
  scrollbar-width: thin;
  scrollbar-color: var(--color-primary) transparent;
}

/* 스크롤바 css 적용 */
.main::-webkit-scrollbar {
  width: 8px;
}

/* 3. 스크롤바 트랙(배경) */
.main::-webkit-scrollbar-track {
  background: transparent;
}

/* 4. 스크롤바 핸들(움직이는 막대) */
.main::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
  border-radius: 4px;
  border: 2px solid var(--color-white);
}

/* 5. 핸들에 마우스를 올렸을 때 색상 변경 */
.main::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-hover);
}

/* 왼쪽 타임라인 */
.lineWrapper {
  position: absolute;
  top: 0;
  left: 22px;
  height: 100%;
  z-index: 1;
}

.timelineLine {
  position: absolute;
  top: 0;
  left: -1px;
  width: 0;
  height: 100%;
  border-right: 2px solid var(--color-sud-color1);
}

/* 섹션 리스트 */
.sectionList {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 5;
}

/* ---------------------------------------------------- */
/* 주차 섹션 */
.weekSection {
  width: 100%;
  display: flex;
  gap: 5px;
  padding: 20px 10px;
  border-radius: 22px;
  box-sizing: border-box;
}

/* 왼쪽 도트/라인 */
.item {
  width: 24px;
  height: 100%;
}

.itemActive {
  width: 24px;
  height: 24px;
  background-color: var(--color-primary);
  border-radius: 50%;
  margin-top: 5px;
}

/* 주차 텍스트 */
.weekContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.weekTitleWrapper {
  width: auto;
  height: 30px;
  display: flex;
  align-items: center;
  padding: 8px 10px;
  border-radius: 30px;
  background-color: var(--color-primary);
}

.weekTitle {
  color: var(--color-white);
  font-weight: bold;
}

/* ---------------------------------------------------- */
/* 체크리스트 */
.checkList {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.checkWrapper {
  padding: 8px 0;
}

.checkRow {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

/* 왼쪽: 체크 아이콘 + 제목 */
.checkLeft {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* 아이콘 */
.checkIconDone {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--color-main);
  border: none;
}

/* 텍스트 */
.checkTitle {
  color: var(--color-font-color1);
  font-weight: bold;
}
