.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1440px) {
  .container {
    padding: 20px 0;
    overflow-y: auto;

    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .container::-webkit-scrollbar {
    display: none;
  }
}

@media (max-width: 1024px) {
  .container {
    flex-direction: column;
    overflow-y: auto;
  }
}

/* 모바일에서는 오른쪽 패널 숨기기 */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    overflow-y: auto;
  }
}
