.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.babyImagePlaceholder {
  flex: 0 0 auto;
}

.babyName {
  font-size: 30px;
  font-weight: bold;
  color: var(--color-font-color1);
}

.dueDate {
  font-size: 22px;
  font-weight: bold;
  color: var(--color-primary);
}

.mainContentArea {
  flex: 1;
  position: relative;
  border-radius: var(--border-radius-main);
  background-color: var(--color-white);
  overflow: hidden;
}

.backgrondImage {
  width: 90%;
  height: 90%;
  position: absolute;
  object-fit: contain;
  transform: translate(-50%, -50%);

  top: 50%;
  left: 50%;
}

.placeholderImage {
  width: 28%;
  position: absolute;
  height: auto;
  object-fit: contain;
  transform: translate(-50%, -55%);
  top: 16%;
  left: 33%;
}

.parentingImage {
  width: 28%;
  position: absolute;
  height: auto;
  object-fit: contain;
  transform: translate(-50%, -55%);

  top: 10%;
  left: 36%;
}

@media (max-width: 1440px) and (min-width: 1026px) {
  .placeholderImage {
    width: 46%;
    top: 6%;
    left: 30%;
  }

  .parentingImage {
    width: 34%;
    top: 14%;
    left: 32%;
  }
}

@media (max-width: 1200px) and (min-width: 1025px) {
  .babyName {
    font-size: 26px;
  }

  .dueDate {
    font-size: 20px;
  }

  .placeholderImage {
    width: 34%;
    top: 4%;
    left: 30%;
  }

  .parentingImage {
    width: 32%;
    top: 8%;
    left: 34%;
  }
}

@media (max-width: 1024px) and (min-width: 769px) {
  .babyName {
    font-size: 24px;
  }

  .dueDate {
    font-size: 18px;
  }

  .backgrondImage {
    width: 95%;
    height: 95%;
  }

  .mainContentArea {
    border-radius: 20px;
  }

  .placeholderImage {
    width: 42%;
    top: 14%;
    left: 32%;
  }

  .parentingImage {
    width: 36%;
    top: 10%;
    left: 32%;
  }
}

@media (max-width: 768px) and (min-width: 481px) {
  .container {
    width: 100%;
  }

  .babyName {
    font-size: 22px;
  }

  .dueDate {
    font-size: 17px;
  }

  .mainContentArea {
    border-radius: 18px;
  }

  .placeholderImage {
    width: 45%;
    top: 22%;
    left: 30%;
  }

  .parentingImage {
    width: 44%;
    top: 16%;
    left: 28%;
  }
}

@media (max-width: 480px) {
  .babyName {
    font-size: 20px;
  }

  .dueDate {
    font-size: 16px;
  }

  .mainContentArea {
    border-radius: 16px;
  }

  .placeholderImage {
    width: 50%;
    top: 20%;
    left: 26%;
  }

  .parentingImage {
    width: 44%;
    top: 18%;
    left: 28%;
  }
}

@media (max-width: 380px) {
  .babyName {
    font-size: 20px;
  }

  .dueDate {
    font-size: 16px;
  }

  .mainContentArea {
    border-radius: 16px;
  }

  .placeholderImage {
    width: 36%;
    top: 10%;
    left: 30%;
  }

  .parentingImage {
    width: 30%;
    top: 10%;
    left: 34%;
  }
}