.navigationContainer {
  position: relative;
  background-color: #fff;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  font-size: 16px;
  color: #8c8c8c;
  font-family: Inter;
}

/*   기본 버튼 리스트(가로 모드) 스타일 */
.buttonList {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  gap: 16px;
  padding: 10px;
  border-radius: 50px;
  /* border: 1px solid #8c8c8c; 이거 나중에 지우기 */
}

/*  개별 네비게이션 버튼 스타일 */
.navButton {
  height: 48px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 20px;
  box-sizing: border-box;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  transition: background-color 0.2s;
}

.navButton:hover {
  background-color: #adb9e3;
  color: #fff;
  font-weight: bold;
}

/* 아이콘 + 라벨 묶음 그룹 스타일 */
.iconLabelGroup {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
}

/* 아이콘 원형 스타일 */
.iconCircle {
  height: 30px;
  width: 30px;
  position: relative;
  border-radius: 50%;
}

/* 텍스트 라벨 스타일 */
.labelText {
  position: relative;
  white-space: nowrap;
}

/* =================================================== */
/* 세로 모드 스타일 */
.verticalList {
  flex-direction: column;
  width: 100%;
  border-radius: 20px;
  align-items: stretch;
}
.verticalList .buttonList {
  width: 100%;
  flex-direction: column;

  border: none;
}
/* 세로 모드 내 버튼 정렬 스타일 */
.verticalList .navButton {
  width: 100%;
  height: 48px;
  justify-content: flex-start;
  padding-left: 20px;
}
